In [ ]:
import nltk

In [ ]:
import pandas as pd

In [ ]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [ ]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
 4   target   23481 non-null  int64
dtypes: int64(1), object(4)
memory usage: 917.4+ KB

None

In [ ]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
 4   target   21417 non-null  int64
dtypes: int64(1), object(4)
memory usage: 836.7+ KB

None

In [ ]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [ ]:
display(genuine.subject.value_counts())

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [ ]:
fake['target']=0
genuine['target']=1

In [ ]:
data=pd.concat([fake,genuine],axis=0)

In [ ]:
data=data.reset_index(drop=True)

In [ ]:
display(data.head())

                                                text  target
0  Donald Trump just couldn t wish all Americans ...       0
1  House Intelligence Committee Chairman Devin Nu...       0
2  On Friday, it was revealed that former Milwauk...       0
3  On Christmas day, Donald Trump announced that ...       0
4  Pope Francis used his annual Christmas Day mes...       0

In [ ]:
data=data.drop(['subject','date','title'],axis=1)

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
data['text']=data['text'].apply(word_tokenize)

In [ ]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english")

In [ ]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

# Stopword removal

In [ ]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [ ]:
data['text']=data['text'].apply(stop_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [ ]:
data['text']=data['text'].apply(' '.join)

In [ ]:
print(data.head(10))

                                                text  target
0  donald trump just couldn wish all american hap...       0
1  hous intellig committe chairman devin nune hav...       0
2  friday was reveal that former milwauke sheriff...       0
3  christma day donald trump announc that would b...       0
4  pope franci use his annual christma day messag...       0
5  the number case cop brutal and kill peopl colo...       0
6  donald trump spent good portion his day his go...       0
7  the wake yet anoth court decis that derail don...       0
8  mani peopl have rais the alarm regard the fact...       0
9  just when you might have thought get break fro...       0

# split data

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data['text'],data['target'])

In [ ]:
X_test.head()

3096     here news flash for donald trump mexico won pa...
1824     unit airlin econom and pulic relat tailspin af...
7478     march saw yet anoth super tuesday battl wage a...
36907    caraca reuter even the volatil and violent sta...
19597    starbuck sjws call cop custom for request trum...
Name: text, dtype: object

# Vectorization

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [ ]:
print(tfidf_train)

  (0, 33294)	0.014569009961659773
  (0, 11966)	0.03421149949518773
  (0, 74459)	0.054644959601585164
  (0, 59765)	0.026035072256711183
  (0, 12814)	0.03257404155445754
  (0, 84680)	0.0263021205925704
  (0, 7854)	0.02830066675514686
  (0, 65476)	0.03576815481799572
  (0, 88101)	0.040441406647381085
  (0, 49030)	0.06831833615735405
  (0, 78918)	0.04892078382523834
  (0, 87697)	0.023927939874907506
  (0, 88749)	0.015584355089992135
  (0, 37875)	0.06503100784658293
  (0, 52840)	0.05053621264067421
  (0, 44131)	0.03456104147779285
  (0, 73502)	0.02815760893440212
  (0, 69195)	0.022823198112915086
  (0, 8429)	0.03682986370751637
  (0, 25933)	0.04147012582688221
  (0, 18060)	0.04777006498491887
  (0, 12277)	0.02380346452231742
  (0, 75049)	0.04888282232847398
  (0, 64999)	0.029532037857871715
  (0, 17598)	0.021774831520475015
  :	:
  (33672, 22897)	0.0394383204069604
  (33672, 51024)	0.03354848986937443
  (33672, 7338)	0.04654501323202772
  (33672, 17188)	0.021161737835943478
  (33672, 24968)	0.1601100279907605
  (33672, 83186)	0.04771893249366977
  (33672, 26742)	0.026455187631617173
  (33672, 69120)	0.02893772258490509
  (33672, 59765)	0.07001843290828519
  (33672, 65476)	0.04809723828846706
  (33672, 88749)	0.04191239073693085
  (33672, 69195)	0.06138045441413018
  (33672, 16408)	0.047765555906753604
  (33672, 76773)	0.04358881190807516
  (33672, 88184)	0.03234053441070073
  (33672, 88621)	0.08359978284807433
  (33672, 9026)	0.052483019720849136
  (33672, 59100)	0.019350214775367403
  (33672, 81341)	0.060432903421071604
  (33672, 38277)	0.04637197728038794
  (33672, 37706)	0.019364867194443042
  (33672, 38990)	0.06396531888275327
  (33672, 74725)	0.03322622994403863
  (33672, 88556)	0.026849720713133123
  (33672, 62999)	0.07769018155504821

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [ ]:
model = LogisticRegression(max_iter=900)
model.fit(tfidf_train,y_train)
pred=model.predict(tfidf_test)
result=accuracy_score(y_test,pred)
print(result*100)

98.93986636971047

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier

modelfinal = PassiveAggressiveClassifier(max_iter = 50)
modelfinal.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [ ]:
y_pred = modelfinal.predict(tfidf_test)
accscore = accuracy_score(y_test,y_pred)
print("The accuracy of prediction is ",accscore*100)

The accuracy of prediction is  99.69710467706014